{% extends 'base.html' %}
{% load static %}

{% block content %}

<br><br><br><br>

<div class="w3-content ">
    <br>
    <div class="w3-container ">
        <h1  style="text-align:center;">Subscribe</h1>
    </div>

    <form class="w3-container" id="user_form">{% csrf_token %}
        <p>
            <label class="w3-text-grey">Name</label>
            <input class="w3-input w3-border input" id="name" type="text" required>
            <span id="error_name"></span>
        </p>
        <p>
            <label class="w3-text-grey">Email</label>
            <input class="w3-input w3-border input" id="email" type="email" required>
            <span class="w3-text-red" id="error_email"></span>
        </p>
        <p>
            <label class="w3-text-grey">Password</label>
            <input class="w3-input w3-border input" type="password" id="password" required>
            <span class="w3-text-red" id="error_password"></span>
        </p>
        <p>
            <label class="w3-text-grey">Password Confirmation</label>
            <input class="w3-input w3-border input" type="password" id="password_c" required>
            <span class="w3-text-red" id="error_password_c"></span>
        </p>
        <div>
            <input type="submit" class="w3-btn w3-padding w3-blue-grey" value="Register" id="register" disabled>
        </div>
        <!--<p><button type="submit" class="w3-btn w3-padding w3-blue-grey">Register</button></p>-->
    </form>


</div>



<script src="{% static 'story10js.js' %}"></script>
{% endblock %}