{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title>Muhamad Fariz Farhan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
        var myVar;

        function loaderFunction() {
            myVar = setTimeout(showPage, 3);
        }
        function showPage() {
          document.getElementById("loader").style.display = "none";
          document.getElementById("myDiv").style.display = "block";
        }
    </script>
    <style>
        body {font-family: "Times New Roman", Georgia, Serif;}
        h1,h2,h3,h4,h5{
            font-family: "Playfair Display";
            <!--letter-spacing: 5px;-->
        }
        .logo{height:30px;width:30px;}
        .logo-fb{height:30px}
        #loader {
          position: absolute;
          left: 50%;
          top: 50%;
          z-index: 1;
          width: 150px;
          height: 150px;
          margin: -75px 0 0 -75px;
          border: 2px solid #f3f3f3;
          border-radius: 50%;
          border-top: 8px solid #3498db;
          width: 120px;
          height: 120px;
          -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
        }

        @-webkit-keyframes spin {
          0% { -webkit-transform: rotate(0deg); }
          100% { -webkit-transform: rotate(360deg); }
        }

        @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
        }

        /* Add animation to "page content" */
        .animate-bottom {
          position: relative;
          -webkit-animation-name: animatebottom;
          -webkit-animation-duration: 1s;
          animation-name: animatebottom;
          animation-duration: 1s
        }

        @-webkit-keyframes animatebottom {
          from { bottom:-100px; opacity:0 }
          to { bottom:0px; opacity:1 }
        }

        @keyframes animatebottom {
          from{ bottom:-100px; opacity:0 }
          to{ bottom:0; opacity:1 }
        }

        #myDiv {
          display: none;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body onload="loaderFunction()" style="margin:0;">
<div id="loader"></div>
<div style="display:none;" id="myDiv" class="animate-bottom">
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <!--<div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">-->
    <div class="w3-bar w3-white w3-card w3-padding  " style="letter-spacing:1px" id="header">
        <a href="../daftar" target="_blank" class="w3-bar-item w3-button " id="daftar">Daftar</a>
        <a class="w3-bar-item w3-button w3-show" id="english"
           onclick="
                document.getElementById('indonesia').className='w3-bar-item w3-button w3-show';
                document.getElementById('english').className='w3-bar-item w3-button w3-hide';
                document.getElementById('daftar').innerHTML='Register';
                document.getElementById('kalimat_pembukaan').innerHTML='Muhamad Fariz Farhan<br>Undergraduate Computer Science Student<br>University of Indonesia';
                document.getElementById('quotes').innerHTML='<i>&quot;Work as if you live forever. Learn as if you know nothing&quot;</i>';
                document.getElementById('tentang_saya').innerHTML='About Me';
                document.getElementById('tentang_saya_isi').innerHTML='An ordinary human who has extraordinary ideals. <br>Who always wants to work with all the evenness and constraints. <br>Currently carrying out the mandate as a student at a well-known university.<br>Like politics with all its polemics. Process to get better every day.<br> Trying to be useful for religion, nation, and alma mater.';
                document.getElementById('kegiatan_kampus').innerHTML='Campus Activities';
                document.getElementById('dpm_head').innerHTML='Student Representative Council';
                document.getElementById('dpm_foot').innerHTML='Representative Council of Fasilkom';
                document.getElementById('pemira_head').innerHTML='Student Election Fasilkom 2018';
                document.getElementById('pemira_foot').innerHTML='Project Officer';
                document.getElementById('compfest_foot').innerHTML='Staff of Equipment and Security';
                document.getElementById('riwayat_pendidikan_formal').innerHTML='Educational Background';
                document.getElementById('prestasi').innerHTML='Achievement';
                document.getElementById('pengalaman_organisasi').innerHTML='Organizational Experience'">English</a>
        <a class="w3-bar-item w3-button w3-hide" id="indonesia"
           onclick="
                document.getElementById('indonesia').className='w3-bar-item w3-button w3-hide';
                document.getElementById('english').className='w3-bar-item w3-button w3-show';
                document.getElementById('daftar').innerHTML='Daftar';
                document.getElementById('kalimat_pembukaan').innerHTML='Muhamad Fariz Farhan<br>Mahasiswa Sarjana Fakultas Ilmu Komputer<br>Universitas Indonesia';
                document.getElementById('quotes').innerHTML='<i>&quot;Bekerjalah seakan kau hidup selamanya. Belajarlah seakan kau tidak tau apa-apa&quot;</i>';
                document.getElementById('tentang_saya').innerHTML='Tentang Saya';
                document.getElementById('tentang_saya_isi').innerHTML='Seorang manusia biasa yang punya cita-cita luar biasa. Yang selalu ingin berkarya dengan segala keterbataan dan kendala. Sedang mengemban amanah sebagai pelajar di Universitas ternama. Menyukai politik dengan segala polemiknya. Berproses untuk menjadi lebih baik setiap harinya. Berusaha untuk berguna bagi agama, bangsa, dan almamater.';
                document.getElementById('kegiatan_kampus').innerHTML='Kegiatan Kampus';
                document.getElementById('dpm_head').innerHTML='Dewan Perwakilan Mahasiswa';
                document.getElementById('dpm_foot').innerHTML='Dewan Perwakilan Fasilkom';
                document.getElementById('pemira_head').innerHTML='Pemilihan Raya Fasilkom 2018';
                document.getElementById('pemira_foot').innerHTML='Ketua Pelaksana';
                document.getElementById('compfest_foot').innerHTML='Staf Equipment and Security';
                document.getElementById('riwayat_pendidikan_formal').innerHTML='Riwayat Pendidikan Formal';
                document.getElementById('prestasi').innerHTML='Prestasi';
                document.getElementById('pengalaman_organisasi').innerHTML='Pengalaman Organisasi'
">Bahasa Indonesia</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="w3-right w3-hide-small">
            <a href="https://www.instagram.com/frzfarhan/" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/ig.png' %}"> </a>
            <a href="https://twitter.com/frzfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo" src="{% static 'img/tw.png' %}"></a>
            <a href="https://web.facebook.com/Muhamadfarizfarhan" target="_blank" class="w3-bar-item w3-button"><img class="logo-fb" src="{% static 'img/fb.png' %}"></a>
        </div>
    </div>
</div>
{% block content %}
{% endblock %}

<div class="footer w3-light-grey w3-padding-16"></div>
<!-- Footer -->
<!--<footer class="w3-center w3-light-grey w3-padding-32" style="position:fixed;">-->
    <!--&lt;!&ndash;<p>Muhamad Fariz Farhan</p>&ndash;&gt;-->
<!--</footer>-->
</div>
</body>

</html>