<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mental Health Matters!</title>
</head>
<body>
<h1>Hello apakabar!</h1>
<form method="post" action="/add_name/">
    {% csrf_token %}
    {{ form }}
    <button type="submit" id="submit" name="action">Submit</button>
</form>

{% for nama in Nama %}
<div class="container">
    <p> {{ nama.text }} </p>
</div>
{% endfor %}

</body>
</html>