{% extends 'base.html' %}
{%load static%}

    {% block content %}
    <!-- Header -->
    <header class="w3-display-container w3-content" style="max-width:1600px;min-width:200px" id="home">
        <div class="w3-container w3-hide-small">
            <img class="w3-image" src="{% static 'img/Artboard 1.png' %}" alt="header background" >
            <div class="w3-display-middle w3-padding-large w3-opacity">
                <p class=" w3-wide" style="text-align:center; width:900px; font-size:2vw;" id="kalimat_pembukaan">Muhamad Fariz Farhan<br>Mahasiswa Sarjana Fakultas Ilmu Komputer<br>Universitas Indonesia</p>
            </div>
        </div>
        <div class="w3-content w3-hide-large w3-hide-medium">
            <br><br><br>
            <div class=" w3-opacity " id="Perkenalan">
                <p class=" w3-wide" style="text-align:center; font-size:3vw;">Muhamad Fariz Farhan<br></p>
                <p class=" w3-wide" style="text-align:center; font-size:3vw;">Mahasiswa Sarjana Fakultas Ilmu Komputer<br></p>
                <p class=" w3-wide" style="text-align:center; font-size:3vw;">Universitas Indonesia</p>
            </div>
        </div>
        <div class="w3-display-bottomleft w3-padding-32 w3-padding-large w3-opacity w3-hide-small">
            <p class="w3-serif" style="font-size:2vw;" id="quotes"><i>"Bekerjalah seakan kau hidup selamanya. Belajarlah seakan kau tidak tau apa-apa"</i></p>
        </div>
    </header>
    <hr><hr>
    <!-- Page content -->
    <div class="w3-content" style="max-width:1100px">

        <!-- Tentang Saya -->
        <div class="w3-container" id="tentang saya">
            <br>
            <h1 class="w3-xxlarge" style="text-align:center;" id="tentang_saya">
                Tentang Saya
            </h1><br>
            <img src="{% static 'img/frz.jpg' %}" class="w3-image w3-circle" style="height:250px;display:block;margin-left:auto;margin-right: auto;" >
            <br><br>
            <p class="w3-hide-small w3-hide-medium " style="text-align:center;font-size:2vw" id="tentang_saya_isi">Seorang manusia biasa yang punya cita-cita luar biasa.
                Yang selalu ingin berkarya dengan segala keterbataan dan kendala.
                Sedang mengemban amanah sebagai pelajar di Universitas ternama.
                Menyukai politik dengan segala polemiknya.
                Berproses untuk menjadi lebih baik setiap harinya.
                Berusaha untuk berguna bagi agama, bangsa, dan almamater.</p>
            <p class="w3-hide-small w3-hide-large" style="text-align:center;font-size:3vw" id="tentang_saya_isi">Seorang manusia biasa yang punya cita-cita luar biasa.
                Yang selalu ingin berkarya dengan segala keterbataan dan kendala.
                Sedang mengemban amanah sebagai pelajar di Universitas ternama.
                Menyukai politik dengan segala polemiknya.
                Berproses untuk menjadi lebih baik setiap harinya.
                Berusaha untuk berguna bagi agama, bangsa, dan almamater.</p>
            <p class="w3-hide-medium w3-hide-large" style="text-align:center;font-size:4vw" id="tentang_saya_isi">Seorang manusia biasa yang punya cita-cita luar biasa.
                Yang selalu ingin berkarya dengan segala keterbataan dan kendala.
                Sedang mengemban amanah sebagai pelajar di Universitas ternama.
                Menyukai politik dengan segala polemiknya.
                Berproses untuk menjadi lebih baik setiap harinya.
                Berusaha untuk berguna bagi agama, bangsa, dan almamater.</p>
            <br><br><br>


        </div>

        <hr><hr>
        <div class="w3-container" id="kegiatan kampus">
            <h1 class="w3-left-align" id="kegiatan_kampus">Kegiatan Kampus</h1><br>

            <div class="w3-container w3-hide-small w3-hide-medium">
                <div class="w3-row w3-padding64">
                    <div class="w3-col l3 w3-padding-large w3-hide-medium w3-hide-small">
                        <img src="{% static 'img/capdpm.png' %}" id="dpm" class="w3-image" style="width:90%">
                    </div>

                    <div class="w3-col l6 w3-hide-small w3-hide-medium"><br><br><br>
                        <h2 id="dpm_head">Dewan Perwakilan Mahasiswa</h2>
                        <h4 id="dpm_foot">Dewan Perwakilan Fasilkom</h4>
                    </div>
                </div>

                <div class="w3-row w3-padding64">
                    <div class="w3-col l8 w3-padding-large w3-hide-medium w3-hide-small">
                        <h2 class="w3-right-align" id="pemira_head">Pemilihan Raya Fasilkom 2018</h2>
                        <h4 class="w3-right-align" id="pemira_foot">Ketua Pelaksana</h4>
                    </div>
                    <div class="w3-col l4 w3-hide-medium w3-hide-small">
                        <img src="{% static 'img/pmr.png' %}" class="w3-image" style="width:80%">
                    </div>

                </div>

                <div class="w3-row w3-padding64">
                    <div class="w3-col l3 w3-padding-large w3-hide-medium w3-hide-small" >
                        <img src="{% static 'img/cfx.jpg' %}" class="w3-image w3-circle" style="width:85%">
                    </div>

                    <!--<div class="w3-col l3 w3-padding-large w3-hide-large w3-hide-medium" >-->
                    <!--<img src="img/cfx.jpg" class="w3-image w3-circle" style="width:32%">-->
                    <!--</div>-->
                    <div class="w3-col l6 w3-hide-small w3-hide-medium">
                        <br><br>
                        <h2 id="compfest_head">CompFest X</h2>
                        <h4 id="compfest_foot">Staf Equipment and Security</h4>
                    </div>
                </div>
            </div>

            <div class="w3-container w3-hide-large">
                <div class="w3-row w3-card ">
                    <div class="w3-padding-large">
                        <img src="{% static 'img/capdpm.png' %}" class="w3-image " style="width:25%">
                    </div>
                </div>
                <div class="w3-row w3-card ">
                    <div class="w3-padding-large">
                        <img src="{% static 'img/pmr.png' %}" class="w3-image" style="width:35%">
                    </div>

                </div>
                <div class="w3-row w3-card ">
                    <div class="w3-padding-large">
                        <img src="{% static 'img/cfx.jpg' %}" class="w3-image w3-circle" style="width:25%">
                    </div>

                </div>

            </div>


        </div>
        <hr>

        <!-- End page content -->
    </div>
    <div class="w3-content" style="max-width:1100px">
        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-left-align">
            <h2 id="riwayat_pendidikan_formal">Riwayat Pendidikan Formal</h2></button>
        <div id="Demo1" class="w3-container w3-hide">
            <ul>
                <li><h4>TKIT Asy-Syifa</h4></li>
                <li><h4>SDIT Darul Athfal</h4></li>
                <li><h4>SMPN 75 Jakarta</h4></li>
                <li><h4>SMAN 78 Jakarta</h4></li>
                <li><h4>Universitas Indonesia</h4></li>
            </ul>
        </div>
        <hr>
        <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-left-align">
            <h2 id="pengalaman_organisasi">Pengalaman Organisasi</h2></button>
        <div id="Demo2" class="w3-container w3-hide">
            <ul>
                <li><h4>[2015-2016] – [Majelis Perwakilan Kelas] – [Wakil Ketua Komisi Teknologi dan Bahasa]</h4></li>
                <li><h4>[2015-2016] – [Rohani Islam] – [Ketua Komisi Kaderisasi]</h4></li>
                <li><h4>[2017] – [Future Legislator Camp DPM UI] – [Anggota Magang]</h4></li>
                <li><h4>[2017] – [Pascal DPM Fasilkom UI] – [Anggota Magang]</h4></li>
                <li><h4>[2017] – [Sekolah BEM Fasilkom] – [Anggota Magang]</h4></li>
                <li><h4>[2018] – [Dewan Perwakilan Mahasiswa] – [Dewan Perwakilan Fasilkom UI]</h4></li>
                <li><h4>[2018] – [Dewan Perwakilan Mahasiswa] – [Wakil Ketua Komisi Pengawasan]</h4></li>
                <li><h4>[2018] – [Kongres Mahasiswa] – [Anggota Perwakilan Fasilkom UI]</h4></li>
            </ul>
        </div>
        <hr>
        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-left-align">
            <h2 id="prestasi">Prestasi</h2></button>
        <div id="Demo3" class="w3-container w3-hide">
            <ul>
                <li><h4>[2011] – [Lulusan Terbaik SDIT Darul Athfal]</h4></li>
                <li><h4>[2014] – [Lulusan Terbaik SMPN 75 Jakarta]</h4></li>
                <li><h4>[2016] – [1st Place DOTA2 at Jupan E-Sport Tournament Internal]</h4></li>
                <li><h4>[2017] – [3rd Place DOTA2 at Jupan E-Sport Tournament Internal]</h4></li>
                <li><h4>[2018] – [1st Place Debat Bahasa Indonesia at Dekan CUP 2018]</h4></li>
            </ul>
        </div>
    </div>

    {% endblock %}

<!--This HTML is Powered by w3schools-->