{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="w3-container" id="container_buku">
    <br><br><br><br>
    <h1 class="w3-xxlarge" style="text-align:center;">Daftar buku rekomendasi</h1>

    <div class="w3-content w3-responsive">
        <table class="w3-table w3-striped w3-large w3-bordered">
            <thead>
            <tr class="w3-light-grey">
                <th>Judul</th>
                <th>Penulis</th>
                <th >Penerbit</th>
                <th>Tahun</th>
                <th>Bintang</th>
            </tr>
            </thead>
            <tr>
                <td>Fakuy</td>
                <td>fakuuy</td>
                <td>fakuuuyyy</td>
                <td>fakuy</td>
                <td>fakuy</td>
            </tr>
            <tr>
                <td>Fakuy</td>
                <td>fakuy</td>
                <td>fakuy</td>
                <td>fakuuy</td>
                <td>fakuuuyyy</td>
            </tr>
            <tr>
                <td>Fakuy</td>
                <td>fakuy</td>
                <td>fakuy</td>
                <td>fakuuy</td>
                <td>fakuuuyyy</td>
            </tr>
        </table>
        <br>

    </div>
</div>

<script src="{% static 'main.js' %}"></script>

{% endblock %}